<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="https://img.icons8.com/ios/1600/meetup-filled.png">
    <link href="https://fonts.googleapis.com/css?family=Acme|Josefin+Sans|Thasadith" rel="stylesheet">
    <title>Meetup for <%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="header">
        <img src="https://img.icons8.com/ios/1600/meetup-filled.png" class="meetupLogo">
        <h1><span class="home">My Meetup</span></h1>
        <div class="add">Add</div>
        <div class="favorite">
            <div class="heart"></div>
            <span class="favoriteNumber"></span>
        </div>
    </div>
    <div class="informationBox">
        <div class="blinder"></div>
        <div class="mapBox">
            <div id="map"></div>
        </div>
        <div class="meetupBox"></div>
    </div>
    <div class="favoriteBox"></div>
    <div class="delete">Delete</div>
    <div class="exit">X</div>
</body>
</html>
